<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ESAS TREE - Página Inicial</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Inclui o CSS da Navbar -->
    <link href="/css/navbar.css" rel="stylesheet" />
    <style>
      /* Estilos para a homepage */
      .content-container {
        margin-top: 60px; /* Espaço para a navbar */
      }

      /* Títulos e textos */
      h1 {
        color: #006400; /* Cor para títulos */
      }

      .lead {
        font-size: 1.1rem; /* Tamanho do texto de introdução */
      }

      /* Cards */
      .category-card {
        background-color: #fff; /* Cor de fundo para os cards */
        border-radius: 8px; /* Bordas arredondadas */
        overflow: hidden; /* Oculta qualquer conteúdo que saia dos limites */
      }

      .card-title {
        color: #006400; /* Cor para os títulos dos cards */
      }

      .card-text {
        color: #333; /* Cor para os textos dos cards */
      }

      .card-img-top {
        max-height: 300px; /* Reduz a altura máxima das imagens */
        object-fit: contain; /* Garante que a imagem se enquadre no espaço disponível sem perder as proporções */
      }

      /* Botões */
      .btn-primary {
        background-color: #008000; /* Cor de fundo */
        border: none; /* Remover bordas */
      }

      .btn-primary:hover {
        background-color: #006400; /* Cor de fundo ao passar o mouse */
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
      <!-- Inclui o partial da navbar -->
      <%- include('partials/navbar') %>
    </nav>

    <div class="content-container">
      <div class="container mt-5 pt-5">
        <header class="text-center mb-5">
          <h1>Bem Vindo à página ESAS TREE</h1>
          <p class="lead">
            Esta página integra um catálogo com os nossos jardins. Poderá
            visualizar nesta página jardins, espécies de árvores, vídeos e
            pontos de interesse.
          </p>
        </header>

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card category-card h-100">
              <img
                src="/img/jardins.jpg"
                class="card-img-top img-fluid"
                alt="Jardins"
              />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Jardins</h5>
                <p class="card-text">
                  Descubra os nossos belos jardins e a biodiversidade que eles
                  hospedam.
                </p>
                <a href="/gardens" class="btn btn-primary mt-auto"
                  >Explorar Jardins</a
                >
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card category-card h-100">
              <img
                src="/img/arvores.jpg"
                class="card-img-top img-fluid"
                alt="Espécies"
              />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Espécies</h5>
                <p class="card-text">
                  Conheça as diferentes espécies de árvores dentro dos nossos
                  jardins.
                </p>
                <a href="/species" class="btn btn-primary mt-auto"
                  >Ver Espécies</a
                >
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card category-card h-100">
              <img
                src="/img/videos.jpg"
                class="card-img-top img-fluid"
                alt="Jardins"
              />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Vídeos</h5>
                <p class="card-text">Visualize Vídeos com a nossa flora.</p>
                <a href="/videos" class="btn btn-primary mt-auto"
                  >Explorar Vídeos</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card category-card h-100">
              <img
                src="/img/interesses.jpg"
                class="card-img-top img-fluid"
                alt="Jardins"
              />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Pontos de Interesse</h5>
                <p class="card-text">
                  Descubra e explore os nossos pontos de interesse.
                </p>
                <a href="/points-of-interest" class="btn btn-primary mt-auto"
                  >Explorar Pontos de Interesse</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/navbar.js"></script>
  </body>
</html>
