<!DOCTYPE html>
<html>
  <head>
    <title>Vista Panorâmica do Jardim</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <style>
      /* Estilos para melhorar a visualização */
      body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      h2 {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
    </style>
  </head>
  <body>
    <h2>Explore o nosso Jardim em 360°</h2>

    <!-- Incorporação da vista panorâmica -->
    <a-scene embedded style="width: 90%; height: 80vh">
      <a-sky src="<%= panoramicImageUrl %>" rotation="0 -130 0"></a-sky>
    </a-scene>
  </body>
</html>
